---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// Global ovverrides

html {
  font-size: 14px; // originally 16px
  @include breakpoint($medium) {
    font-size: 16px; // originally 18px
  }

  @include breakpoint($large) {
    font-size: 18px; // originally 20px
  }

  @include breakpoint($x-large) {
    font-size: 20px; // originally 22px
  }
}

.pagination--pager {
  padding: 0.5em 1em;
  float: left;
  margin: 0 10%;
  width: 30%;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI",
    "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
  font-size: 0.7em;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #f1f1f1;
  border: 1px solid #3d4046;
  border-radius: 4px;
}
